.button {
  color: white;
  margin: 0 0.7rem;
  padding: 0.7rem 1rem;
  border: none;
  background-color: #f8d7da;
  border-radius: 0.3rem;

}
.button:hover {
  cursor: pointer;
}

.button:active {
  outline: 1px solid black;
}


.blueButton {
  background-color: blue;
}

.redButton {
  background-color: red;
}

.blackButton {
  background-color: #343a40;
  color: #e2c59e;
}